{% extends './base.html'%}

{% block content %}

<section class="section is-small">
  <h1 class="title"><a href="http://127.0.0.1:8000/post1">Post numero - 1</a></h1>
  <h2 class="subtitle">
    Clique no titulo para ter acesso a <strong>noticia</strong>.
  </h2>
</section>

<section class="section is-small">
  <h1 class="title">Post numero - 2</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section is-small">
  <h1 class="title">Post numero - 3</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
{% endblock %}
