{% extends './base.html'%}

{% block content %}

<section class="section is-small">
  <h1 class="title"><a href="http://127.0.0.1:8000/">Post numero - 1</h1>
  <h2 class="subtitle">
   Noticia sobre o glorioso!!
  </h2>

    <img src="https://seeklogo.com/images/B/Botafogo_de_Futebol_e_Regatas_do_Rio_de_Janeiro-RJ-logo-A64D2518DA-seeklogo.com.png">
    <p>
         Gilvan deve permanecer no Botafogo por mais um ano. Contratado no início da temporada,
         o zagueiro tem contrato que prevê renovação automática até o fim de 2022 em caso de acesso para a Série A.
         A informação é do “Canal do Medeiros”.
    </p>
</section>

{% endblock %}